**/bin
**/obj
**/.vs
/ExampleChainedClientServerAuth/_chainedServerLogs.txt
/ExampleChainedClientServerAuth/_clientLogs.txt
/ExampleChainedClientServerAuth/AspNetCoreCertificateAuthApiChained/AspNetCoreCertificateAuthApiChained.csproj.user
