**/bin
**/obj
**/.vs
/ExampleChainedClientServerAuth/_chainedServerLogs.txt
/ExampleChainedClientServerAuth/_clientLogs.txt
/ExampleChainedClientServerAuth/AspNetCoreCertificateAuthApiChained/AspNetCoreCertificateAuthApiChained.csproj.user
/examplesUsingCertificateAuthentication/GrpcCertAuthChainedCertificate/grpcServer.txt
/examplesUsingCertificateAuthentication/AspNetCoreChained/_chainedServerLogs.txt
/examplesUsingCertificateAuthentication/AspNetCoreChained/_clientLogs.txt
